
.array-element {
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: transform 0.5s;
}

.array-element.swapped {
    border-color: red;
    box-shadow: 0 0 5px red;
}

.array-element.compared {
    border-color: blue;
    box-shadow: 0 0 5px blue;
}

.array-element.min-current {
    border-color: green;
    box-shadow: 0 0 5px green;
}

.array-element.pivot {
    border-color: yellowgreen;
    box-shadow: 0 0 5px yellowgreen;
}

.comparing {
    color: blue;
}

.swapping {
    color: red;
}

#bubble-sort a,
#insertion-sort a,
#shell-sort a,
#bogo-sort a,
#heap-sort a {
    text-decoration: none;
    color: #09a0aa;
}
